/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/

@import 'bourbon';

/**********************
 * HEADER STYLES
 *********************/

.header {  
         background-image:url(../images/hq_logo.png);
         background-size:100% auto;
         background-repeat:no-repeat;
         margin:0 auto;
         // max-width: $max-width;
         // width:90%;
         padding:0 2.2em;
         border-width:0 $b-width * 2;
         border-color:$d-grey;
         border-style:solid;
        }
.header img{
        margin:0 auto;
}

#logo{
	visibility:hidden;
}
	
/*********************
NAVIGATION STYLES
*********************/

.nav {


}

	/* .menu is clearfixed inside mixins.scss */
	.menu {
		ul {
			li {
				a {
					
					/*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/
					&:hover, &:focus {
					
					}
				}
				
				&:first-child {}
				&:last-child {}
				
				/*
				plan your menus and drop-downs wisely.
				*/
				ul.sub-menu,
				ul.children {
					li {
						a {
							&:hover,
							&:focus {}
							&:link {}
						}
						&:first-child {}
						&:last-child {}
					}
				}
			} /* end .menu ul li */
			
			/* highlight current page */
			li.current-menu-item, 
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}  /* end current highlighters */
		} /* end .menu ul */
	} /* end .menu */

/*********************
POSTS & CONTENT STYLES
*********************/

#inner-content{
  max-width:$max-width;
}

/* post content */
.post-content {
			
	
	/* at this larger size, we can start to align images */
	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
} /* end .post-content */

/*********************
FOOTER STYLES
*********************/
	
/*
check your menus here. do they look good?
do they need tweaking?
*/
.footer-links {
	ul {
		li {}
	}
} /* end .footer-links */
			
